<h1>Editing registration request</h1>

<%= render "edit_form", registration_request: @registration_request, registration_request_item: @registration_request_item %>

<br>

<div>
  <%= link_to "Show this registration request", @registration_request %> |
  <%= link_to "Back to registration requests", registration_requests_path %>
</div>
