<div class='main-view'>
  <h1>Editing registration request</h1>
  <%= render "edit_form", registration_request: @registration_request %>
  <br>
  <div>
    <%= link_to "Show this registration request", @registration_request %> |
    <%= link_to "Back to registration requests", registration_requests_path %>
  </div>
</div>
