<p style="color: green"><%= notice %></p>

<h1>Waitlist requests</h1>
<% if @registration_requests != nil %>
  <div id="registration_requests">
    <% @registration_requests.each do |registration_request| %>
      <%= render partial: "registration_request", locals: {registration_request: registration_request[:registrationRequest]} %>
      <p>
        <%= link_to "Show this waitlist request", registration_request %>
      </p>
    <% end %>
  </div>
<% end %>

<%= link_to "New waitlist request", course_offerings_path %>
