<p style="color: green"><%= notice %></p>

<h1>Registration requests</h1>

<div id="registration_requests">
  <% @registration_requests.each do |registration_request| %>
    <%= render registration_request %>
    <p>
      <%= link_to "Show this registration request", registration_request %>
    </p>
  <% end %>
</div>

<%= link_to "New registration request", course_offerings_path %>
