<h1>New registration request</h1>

<%= render "master_form", registration_request: @registration_request, registration_request_item: @registration_request_item, activity_offering: @activity_offering, term_id: @term_id %>


<br>

<div>
  <%= link_to "Back to registration requests", registration_requests_path %>
</div>
