<div class='main-view'>
  <h1>Editing registration group</h1>
  <%= render "form", registration_group: @registration_group %>
  <br>
  <div>
    <%= link_to "Show this registration group", @registration_group %> |
    <%= link_to "Back to registration groups", registration_groups_path %>
  </div>
</div>