<h1>Editing activity offering</h1>

<%= render "form", activity_offering: @activity_offering %>

<br>

<div>
  <%= link_to "Show this activity offering", @activity_offering %> |
  <%= link_to "Back to activity offerings", activity_offerings_path %>
</div>
