<div class='main-view'>
  <!--<p style="color: green"><%= notice %></p>--> <!--terry-->
  <h1>Activity offerings</h1>
  <div id="activity_offerings">
    <%= render 'activity_offerings_list', activity_offerings: @activity_offerings %>
  </div>
</div>
