<div id='term-dropdown'>
  <%= form_tag set_term_reg_requests_path do %>
    <%= select_tag(:term_index, options_for_select(@terms.map.with_index {|term, index| [term['name'], index]}), selected: term_name) %>
    <%= submit_tag 'Select Term', id: 'term-submit-button'%>
  <% end %>
  Current Term: <%= session.dig(:term, "name") %> <br>
</div>