<div class='main-view'>
  <h1>Editing registration request item</h1>
  <%= render "form", registration_request_item: @registration_request_item %>
  <br>
  <div>
    <%= link_to "Show this registration request item", @registration_request_item %> |
    <%= link_to "Back to registration request items", registration_request_items_path %>
  </div>
</div>