<h1>Editing course offering</h1>

<%= render "form", course_offering: @course_offering %>

<br>

<div>
  <%= link_to "Show this course offering", @course_offering %> |
  <%= link_to "Back to course offerings", course_offerings_path %>
</div>
