<%= render 'search_form' %>

<p id="notice"><%= notice %></p>
<h1>Course Offerings</h1>
<% @course_offerings.each do |course_offering| %>
  <%= render 'course_offering', course_offering: course_offering  %>
<% end %>
<%# <table>
  <thead>
    <tr>
      <th>Course Offering Title</th>
      <th>Course Code</th>
      <th>Maximum Enrollment</th>
      <th>Minimum Enrollment</th>
      <th>Credits</th>
      <th>Instructors</th>
      <th>Deployment Orginization</th>
    </tr>
  </thead>
  <%= render 'course_offerings', locals: {course_offerings: @course_offerings} %>