<h1>Your Registration Request Has Been Changed</h1>
<p>Hello <%= @user.email %>,</p>
<p>Your registration request <%= @registration_request.name %> has been changed.</p>
<p>Its status is now <%= @registration_request.stateKey %>.</p>
<p>Thank you for using our service.</p>